@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.add{
    display: grid;
    grid-template-columns: 8fr 3fr;
    height: 56px;
    margin-bottom: 5px;

}
.add > input{
    border: none;
    background: rgba(255, 255, 255, 0.8);
    color: #74B9FF;
    font-size: 22px;
    line-height: 26px;
    padding: 0 20px 0 20px;
    outline:none
}
.add > input::placeholder{
    color: #74B9FF;
}
.add > button{
    background: #81ECEC;
    border: none;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    outline:none;
    cursor: pointer;
}
.list{
    background: #74B9FF;
    min-height: 168px;
    padding: 0 21px 0 21px ;
}
.todo:last-child, .completed:last-child{
    border-bottom: 0px solid #FFFFFF ;
}
.todo, .completed{
    color: #fff;
    border-bottom: 1px solid #FFFFFF ;
    padding: 21px 0 21px 0 ;
    font-size: 22px;
    line-height: 26px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    border-radius: 8px;
    
}
.completed{
    background:rgba(255, 255, 255, 0.8);
}
.completed > .todoText{
    color: #81ECEC;
}

.dlt, .save{
    width: 34px;
    height: 34px;
    background: #FF7675;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.save{
    background:#81ECEC;
}
.dlt > svg, .save > svg{
    margin-top: 6px;
}
.dlt{
    grid-column-start: 4;
    grid-column-end: 4;
}
.todoList{
    border-radius: 8px;
    max-width: 504px;
    overflow: hidden;
    background: #74B9FF;
}
.inputEdit{
    border: none;
    background: rgba(255, 255, 255, 0.8);
    color: #74B9FF;
    font-size: 22px;
    line-height: 26px;
    padding: 0 20px 0 6px;
    outline:none;
    margin-left: 15px;
    border-radius: 8px;
}
.todoText{
    font-size: 22px;
    line-height: 26px;
    padding: 4px 20px 0 21px;
}