@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root{
    --green: #81ECEC;
--blue:  #74B9FF;
--red:  #FF7675;
}

*{
    box-sizing: border-box;
    outline: none;
}

.todo__root {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo__root_container{
    font-family: 'Roboto', sans-serif;
    background:var(--blue);
    width: 504px;
    min-height: 260px;
    max-height: 568px;
    height: auto;
    display: grid;
    grid-template-rows: 56px 1fr;
    border-radius: 8px;
user-select: none;
}


.todo__adder{
    width: 100%;
    height: 56px;
    background: rgba(255,255,255, 0.8);
    display: grid;
    grid-template-columns:1fr 136px;
}

.todo__adder > input{
    height: 56px;
    background: rgba(0,0,0,0);
    border: none;
    color: var(--blue);
    font-size: 22px;
    padding: 16px 20px;
}

.todo__adder > button{
    height: 56px;
    background: var(--green);
    border: none;
    border-radius: 0 8px 0 0;
    color: #fff;
    font-size: 22px;
}


.todo__items{
    list-style: none;
    padding: 0 20px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.todo__items > li {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 34px  34px;
    align-items: center;
    column-gap: 8px;
}


.todo__items > li > input{
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.1);
    border: 0px solid transparent;
    border-radius: 8px;
}
.todo__items > li > span{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo__items > li > span,
.todo__items > li > input{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #fff;
    height: 34px;
    padding: 0 8px;
    font-weight: 300;
}

.todo__items > li:last-child{
    border-bottom: 1px solid transparent;   
}


.todo__items > li > button{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    padding-top: 4px;
    font-size: 16px;
    color: #fff;
    user-select: none;
}

.todo__items > li > button[type=save]{
    background: var(--green);
}

.todo__items > li > button[type=delete]{
    background: var(--red);
    grid-column: 3/-1;
}


