.counter {
    width: 82px;
    background-color: #74b9ff;
    border-radius: 72px;
    display: grid;
    grid-template-columns: repeat(3, 28px);
    color: #fff;
}

.button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background: #0984e3;
    padding-top: 2px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}

.button:disabled{
    background:#74b9ff;
    cursor: not-allowed;
}

.value {
    background:#74b9ff;
    border: none;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    font-size: 16px;
    font-weight: 500;
}