.date_picker {
    max-width: 224px;
    max-height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(47, 53, 66, 0.1);
    padding: 16px;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
}

.date_picker_date {
    height: 28px;
    background: #74B9FF;
    border-radius: 2px 2px 0px 0px;
    display: grid;
    grid-template-columns: 28px 2fr 2fr 28px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.btn {
    border: none;
    background: #74B9FF;
    color: #FFF;
    outline: none;
    cursor: pointer;
    height: 28px;
}

.date_picker_week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    background: #74B9FF;
    height: 28px;
    text-align: center;
    line-height: 28px;
}

.date_picker_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 28px);
    grid-gap: 1px;
    background: #74B9FF;
    text-align: center;
    line-height: 28px;
    padding: 1px;
    border-radius: 0px 0px 2px 2px;
}

.date_picker_days>.button_days {
    background: #fff;
    color: #74B9FF;
    border: none;
    outline: none;
    cursor: pointer;
}

.prev_days {
    background: #fff;
    color: hsla(210, 100%, 73%, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
}

.popap_wrapper {
    background: #FFF;
    box-shadow: 0px 4px 25px rgba(47, 53, 66, 0.1);
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
}

.popap_wrapper_year {
    width: 74px;
    padding: 10px 16px;
    height: 108px;
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 2;
    right: -5px;
}

.popap_wrapper_month {
    width: 220px;
    padding: 12px 14px;
    height: 108px;
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 4;
    right: -17px;
}

.popap_year {
    height: 92px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: scroll;
}

.popap_year::-webkit-scrollbar {
    width: 0;
}

.popap_wrapper:after, .popap_wrapper:before {
    content: "";
    border: solid transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
}

.popap_wrapper:after {
    border-bottom-color: #fff;
    border-width: 4px;
    margin-left: -4px;
}

.popap_wrapper:before {
    border-width: 1px;
    margin-left: -5px;
}

.popap_year>.popap_year_years {
    color: #74B9FF;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    padding: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.popap_year>.popap_year_years:hover {
    background: rgba(116, 186, 255, 0.15);
    border-radius: 2px;
}

.popap_year>.popap_year_years:after {
    margin: 0;
}

.popap_month {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20px);
    grid-gap: 3px 15px;
}

.popap_month>.popap_year_months {
    color: #74B9FF;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    padding: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
}

.popap_month>.popap_year_months:hover {
    background: rgba(116, 186, 255, 0.15);
    border-radius: 2px;
}

.hide {
    display: none;
}

#select_year_and_month {
    border-radius: 2px;
    background: #74B9FF;
    color: #fFF;
}

#select_day {
    background: #74B9FF;
    color: #fFF;
}